.dieFace {
  background-color: rgb(255, 255, 255);
  outline: 2px solid #000000;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dieFace .dieImage {
  position: absolute;
  height: auto;
}
