body {
  overflow-x: auto;
  /* Enables horizontal scrollbar only when content overflows */
  width: max-content;
  /* Makes the body shrink-wrap around its content */
  margin: 0;
  /* Optional: Removes default margin */
}

.page_of_items {
  page-break-after: always;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;

  .page_of_items_contents {
    display: flex;
    flex-wrap: wrap;
    /* Allows items to wrap onto new rows */
    justify-content: center;
    position: relative;
  }

  .page_of_items_contents.demo_board {
    flex-direction: column;
  }

  .page_of_items_contents.tts {
    justify-content: left;
  }

  .page_number {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 10px;
    padding: 10px;
    color: #000;
    /* Change to desired color */
  }
}

.center_in_parent {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}