.card.triangle {
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .overlay,
  .front-wrapper,
  .back-wrapper {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.card.front.triangle {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  border: initial;
  border-width: initial;
  border-style: initial;

  .overlay {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 20;
  }

  .front-wrapper {
    z-index: 0;
    background-position: 0px 0px;
    background-size: 100% auto;

    .sectors-row {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;
      display: block;

      .sector-index-1,
      .sector-index-3 {
        transform-origin: 50% 66.6%;
      }

      .sector-index-0 {
        top: 0%;
        left: 25%;
      }

      // Keep in mind for all this angle stuff: divs are rotated clockwise.
      .sector-index-1 {
        top: 0%;
        left: 0%;
        rotate: 240deg;
      }

      .sector-index-2 {
        top: 0%;
        left: 25%;
        rotate: 180deg;
      }

      .sector-index-3 {
        top: 0%;
        left: 50%;
        rotate: 120deg;
      }

      .sector {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        position: absolute;

        .sector-contents {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0px;
          left: 0px;
          z-index: 2;
        }
      }
    }
  }
}

.single-sector-insert {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 66.6%;
}


.card.back.triangle {
  border-style: initial;
  border: initial;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .back-wrapper {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .triangle-icon {
    height: 60%;
    width: 100%;
    margin-top: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .deck-label {
    position: absolute;
    width: 100%;
    height: 25px;
    top: 66%;
    left: 0px;
    text-align: center;
    font-size: 15px;
    color: black;
    font-family: Special Elite, monospace;
    z-index: 10;
  }
}